{% extends "base.html" %}
{% block title %}Статьи избранных авторов{% endblock %}
{% block header %}Статьи избранных авторов{% endblock %}
{% block content %}
    <div class="card">
    <div class="card-body">
        <form class="form-inline" action="/">
            <div class="form-row">
                    <input name="query" class="form-control form-control-lg" type="search" 
                    placeholder="Найти запись" {% if keyword %}value="{{ keyword }}"{% endif %}>                
                <button class="btn" type="submit">Найти</button>
            </div>
        </form>
    </div>

    <div class="container">
        {% include "includes/menu.html" with follow=True %}
        {% if post_count == 0 %}
            <p>Вы не подписаны на авторов постов.</p>
        {% endif %}
        {% load cache %}
            {% cache 20 index_page page %}
                {% for post in page %}
                    {% include "includes/post_item.html" with post=post %}
                    {% if not forloop.last %}<hr>{% endif %}
                {% endfor %}
            {% endcache %}
        {% include "includes/paginator.html" with page=page %}
    </div>
{% endblock %} 